
:root {
  --bs-primary-rgb: 202,34,94 !important;
}



.text-muted {
  color: white !important;
}

.navbar-dark .navbar-nav .active > .nav-link {
  background: grey;
  color: #fff;
}

.navbar-dark input[type="search"] {
  background-color: white;
  color: black;
}
